.services-section {
  @include default-positioning();
  padding: 70px 100px;
  &__header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
  }
  &__title {
    @include h2-desktop();
    margin-right: 40px;
    display: block;
    background-color: $accent;
    padding: 7px;
    border-radius: 7px;
  }
  &__description {
    @include text-desktop();
    min-width: 320px;
  }
  &__main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 1280px) {
  .services-section {
    &__main {
      justify-content: center;
    }
  }
}

@media (max-width: 1024px) {
  .services-section {
    &__header {
      justify-content: center;
    }
    &__title {
      margin: 0 0 30px 0;
    }
    &__description {
      text-align: center;
    }
  }
}