.psv-button {
  @include btn-text;
  padding: 20px 35px;
  border: 1px solid $black;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  &:focus {
    outline: 2px solid $accent;
  }
  &--light {
    background-color: transparent;
    color: $black;
  }
  &--dark {
    background-color: $black;
    color: $white;
  }
}

.psv-icon-button {
  @include btn-text;
  display: flex;
  justify-content: space-betweens;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  svg {
    margin-right: 15px;
    transition: 0.3s ease;
  }
}

@media (hover) {
  .psv-button--light:hover {
    color: $white;
    background-color: $black;
  }
  .psv-button--dark:hover {
    color: $black;
    background-color: $white;
  }
  .psv-icon-button:hover {
    svg {
      transform: rotate(30deg);
    }
  }
}

@media (max-width: 650px) {
  .psv-icon-button {
    span {
      display: none;
    }
  }
}