<section class="psv-section cta-section">
  <div class="cta-section__content-wrapper">
    <div class="cta-section__content">
      <h3 class="cta-section__title">Let's make things happen</h3>
      <p class="cta-section__description">
        Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.
      </p>
      <load src="../templates/button.html" text="Get your free proposal" class="psv-button psv-button--dark"/>
    </div>
    <img src="./src/images/cta-section-image.svg" alt="stars and emoji" class="cta-section__image">
  </div>
</section>