<nav class="psv-header-navigation-panel">
  <ul class="psv-header-navigation-panel__list">
    <li class="psv-header-navigation-panel__list-item">
      <a href="" class="psv-header-navigation-panel__list-item-link">About us</a>
    </li>
    <li class="psv-header-navigation-panel__list-item">
      <a href="" class="psv-header-navigation-panel__list-item-link">Services</a>
    </li>
    <li class="psv-header-navigation-panel__list-item">
      <a href="" class="psv-header-navigation-panel__list-item-link">Use Cases</a>
    </li>
    <li class="psv-header-navigation-panel__list-item">
      <a href="" class="psv-header-navigation-panel__list-item-link">Pricing</a>
    </li>
    <li class="psv-header-navigation-panel__list-item">
      <a href="" class="psv-header-navigation-panel__list-item-link">Blog</a>
    </li>
    <load src="src/templates/button.html" text="Request a quote" class="psv-button psv-button--light" />
  </ul>
</nav>