<section class="psv-section services-section">
  <header class="services-section__header">
    <h2 class="services-section__title">Services</h2>
    <p class="services-section__description">
      At our digital marketing agency, we offer a range of services to<br> help businesses grow and succeed online. These services include:
    </p>
  </header>
  <div class="services-section__main">
    <load src="./service-card.html" primary-title="Search engine" secondary-title="optimization" img="src/images/search-engine.svg" alt="searching engine" class="service-card service-card--light"/>
    <load src="./service-card.html" primary-title="Pay-per-click" secondary-title="advirtising" img="src/images/pay-per-click.svg" alt="click on website" class="service-card service-card--accent"/>
  </div>
</section>