<section class="psv-section services-section">
  <header class="services-section__header">
    <h2 class="services-section__title">Services</h2>
    <p class="services-section__description">
      At our digital marketing agency, we offer a range of services to<br> help businesses grow and succeed online. These services include:
    </p>
  </header>
  <div class="services-section__main">
    <load
      src="./service-card.html"
      primary-title="Search engine"
      secondary-title="optimization"
      img="src/images/search-engine.svg"
      alt="searching engine"
      class="service-card service-card--light"
      pt-class="service-card__title--accent"
      st-class="service-card__title--accent"
    />
    <load
      src="./service-card.html"
      primary-title="Pay-per-click"
      secondary-title="advirtising"
      img="src/images/pay-per-click.svg"
      alt="click on website"
      class="service-card service-card--accent"
      pt-class="service-card__title--light"
      st-class="service-card__title--light"
    />
    <load
      src="./service-card.html"
      primary-title="Social Media"
      secondary-title="Marketing"
      img="src/images/social-media.svg"
      alt="emoji"
      class="service-card service-card--dark"
      pt-class="service-card__title--light"
      st-class="service-card__title--light"
    />
    <load
      src="./service-card.html"
      primary-title="Email"
      secondary-title="Marketing"
      img="src/images/email-marketing.svg"
      alt="email transfering"
      class="service-card service-card--light"
      pt-class="service-card__title--accent"
      st-class="service-card__title--accent"
    />
    <load
      src="./service-card.html"
      primary-title="Content"
      secondary-title="Creation"
      img="src/images/content-creation.svg"
      alt="dialog windows"
      class="service-card service-card--accent"
      pt-class="service-card__title--light"
      st-class="service-card__title--light"  
    />
    <load
      src="./service-card.html"
      primary-title="Analytics and"
      secondary-title="Tracking"
      img="src/images/analytics.svg"
      alt="graphics and diagrams"
      class="service-card service-card--dark"
      pt-class="service-card__title--accent"
      st-class="service-card__title--accent"
    />
  </div>
</section>